* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

main {
}

body {
}

.grid--3--col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.grid--4--col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

.mg-bt {
  margin-bottom: 4rem;
}

.container {
  padding: 0 2.6rem;
}

.md-color {
  background-color: #6e22b5;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem;
}

.mythos {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.list-header {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header-title {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 3rem;
  padding: 1rem;
}

.title-header {
  color: #fff;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.text-header {
  color: #fff;
  line-height: 1.4;
}

.btn {
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #00b3b3;
}

.btn-header {
  background-color: #470b80;
  color: #fff;
  font-weight: 400;
  border: 1px solid #fff;
}

.img-header {
  width: 50%;
}

.icon-img {
  width: 100%;
  height: 100%;
  color: white;
}

.secondary-icon {
  width: 2rem;
  height: 2rem;
  color: #00b3b3;
  margin-bottom: 0.2rem;
}

.secondary-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.secondary-text {
  color: #474747;
}

.laptop-section {
  background-color: #ca228e;
  padding: 4rem 10rem;
  text-align: center;
}

.third-header {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
}

.third-title {
  color: #fff;
  margin-bottom: 1rem;
}

.img-lab {
  width: 60%;
}

.ceo-section {
  padding: 0 10rem;
}

.ceo-img {
  width: 100px;
}

.ceo-text {
  font-weight: 500;
  line-height: 1.4;

  margin-bottom: 2rem;
}

.ceo {
  display: flex;
  gap: 1rem;
}

.ceo-profile {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.ceo-name {
  color: #474747;
}

.ceo-founder {
  color: #474747;
}

.section-free-trial {
  text-align: center;

  background-image: linear-gradient(to right, #470b80, #9e5add);
  padding: 3rem 0;
}

.trial-header {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

.trial-text {
  color: #fff;
  margin-bottom: 1.6rem;
}

.btn-trial {
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: none;
}

.secondary-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-header {
  margin-bottom: 0.6rem;
}

.footer-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.Follow-flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.contact {
}
